.Friend {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  list-style-type: none;
  padding: 10px;
}
.Friend__prop {
  font-size: 18px;
  text-align: left;
}
.Friend__prop.Friend__name {
  width: 30%;
  font-weight: 700;
}
.Friend__prop.Friend__email {
  width: 50%;
}
.Friend__prop.Friend__age {
  width: 20%;
}