.Friend {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  list-style-type: none;
  padding: 15px;
  border-radius: 5px;
  background-color: #eee;
  margin: 5px 0px;
}
.Friend__prop {
  font-size: 18px;
  text-align: left;
}
.Friend__prop.Friend__name {
  width: 40%;
  font-weight: 700;
}
.Friend__prop.Friend__email {
  width: 40%;
}
.Friend__prop.Friend__age {
  width: 10%;
}
.deleteIcon {
  color: #cc0000;
  width: 10%;
  font-weight: 700;
  cursor: pointer;
}